html, body {
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.fontSize18 {
	font-size: 18px;
}
/*** HEADER ***/

header {
	height: 70px;
	background: #F05A28;	 
}

header .navbar-toggle {
	border-color: #FFFFFF;
	margin-top: 18px;
	margin-bottom: 18px;
}

header .navbar-toggle .icon-bar {
	background-color: #FFFFFF;
}

header .navbar-brand {
	line-height: 48px;
	padding: 9px 0 10px 15px;
}

header .navbar-nav > li {
	margin-left: 44px;
	background: url(../images/menu-bubble.png) center left no-repeat;
	padding: 15px 0 15px 38px;
	text-transform: uppercase;
}

header .navbar-nav > li > a {
	font-size: 28px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 38px;
	padding: 0;
}

header .navbar-nav > li.active > a, header .navbar-nav > li:hover > a {
	border-bottom: 2px solid #FFFFFF;
}

header .navbar-nav > li > a:hover {
	background: none;
}

.carousel-control.left, .carousel-control.right  {
	background-image: none;
}

.carousel-control.left  {
	left: -15%;
}

.carousel-control.right  {
	right: -15%;
}

section {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background: #e8e8ea; /* background gris */
}

section > .container {
	padding: 70px 15px 0 15px;
}

section #flipbook {    
	margin: 50px auto 0 auto;
}

section #flipbook .page img {
	width: 100%;
}

section#home .info {
	font-weight: 300;
	font-size: 20px;
	margin-top: 70px;
	background: #A7A9AB;
	padding: 20px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	color: #FFFFFF;
}

section#home .info span {
	font-weight: 700;
}
 
section#home .full-logo {
	margin-top: 25px;
}

section#home .map {
	margin-top: 110px;
}

section#services, section#work {
	background: #F05A28; /** background naranja **/
}


/*** SERVICES ***/
section#services > .container {
	padding-left: 0;
	padding-right: 0;
}


section#services .carousel, section#team .carousel {
	width: 80%;
	margin: 0 auto;
}
section#services .previous img, section#services .next img {
	height: 100px;
}
section#services .previous{
	position: relative;
	float: left;
}
section#services .next{
	position: relative;
	float: right;
}

section#team .carousel .carousel-inner {
	height: 665px;
}

section#work img {
	margin: 0 auto;
	margin-top: 100px;
}

section#team .members {
	width: 875px;
	margin: 40px auto 0 auto;
}

section#team {
	overflow: hidden;	
}

section#team img.img-responsive {
	margin: 15px auto 0px;
	max-height: 100%;
	padding-bottom: 135px;
}

section#team  .members .memberColumn {
	float: left;
}

section#team  .members .memberColumn.mc1 {
	width: 250px;
}

section#team .members .memberColumn.mc2 {
	width: 375px;
}

section#team  .members .memberColumn.mc3 {
	width: 250px;
}

section#team  .members .teamBlock {
	width: 115px;
	height: 115px;
	float: left;
	outline: 1px solid #000000;
	margin: 5px;
	background: #FFFFFF;
	text-align: center;
	font-size: 25px;
}

section#team  .members .teamBlock.doubleHeight {
	height: 240px;
}

section#team  .members .teamBlock.doubleWidth {
	width: 240px;
}

section#team  .members .teamBlock.darkBack{
	background: #58585B;
	color: #FFFFFF;
}

section#team .members .teamBlock.logo {
	width: 240px;
	height: 240px;
	padding: 10px;
	background: none;
	outline: none;
}

section#team .members .teamBlock p {
	margin-top: 38px;
	line-height: 20px;
}

section#team .members .teamBlock p.rotated {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);

	/* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	/* Should be unset in IE9+ I think. */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	margin-top: 124px;
	font-size: 40px;
	line-height: 42px;
}


section#contact .city {
	float: left;
	margin-right: 20px;
	position: relative;
}

section#contact .city p {
	display:none;
	position: absolute;
	top: 100px;
	left: 23px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 22px;
}

section#contact .cityContent{
	width: 880px;
	margin: 25px auto;
}

section#contact .opaco {
	 display: none;
	 background: rgba(0, 0, 0, 0.5);	 
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 top: 0;
}

/* FOOTER */
footer {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #424242;
}

footer ul li {
	float: left;
	line-height: 35px;
	padding: 7px 0 7px 0;
	margin-left: 35px;
}

footer ul {
	list-style: none;
	float: right;
}