{% extends "layout.html.twig" %}

{% block content %}
<section id="contact">
	<div class="container">	
		<div class="cell">
			<div class="clearfix cityContent">
				<div class="city">
					<img src="{{ asset('images/contact-us1.jpg') }}" alt="Contact Us" class="img-responsive" />
					<div class="opaco"></div>
					<p class = "pp" >New York <br /><br />
						Mike Gerardo<br>
						newyork@tresepic.com<br />
						908-310-8028
					</p> 			
				</div>
				<div class="city">
					<img src="{{ asset('images/contact-us2.jpg') }}" alt="Contact Us" class="img-responsive" />
					<div class="opaco"></div>
					<p>	Buenos Aires<br /><br />
						weare@tresepic.com<br />
						+54 11 6872 1279<br />
					</p> 
				</div>
				<div class="city">
					<img src="{{ asset('images/contact-us3.jpg') }}" alt="Contact Us" class="img-responsive" />
					<div class="opaco"></div>
					<p>	San Juan<br /><br />
						weare@tresepic.com<br />
						787-545-4545<br />
						Ave. Ponce de Leon, Cobian's Plaza Suite 103. San Juan Puerto Rico 00901
					</p> 
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}