{% extends "layout.html.twig" %}

{% block content %}
<section id="contact">
	<div class="container">	
		<div class="city">
			<img src="images/contact-us1.png" alt="Contact Us" class="img-responsive" />
			<p>Londres: <br />
				Email: gabrielm@tresepic.com<br />
				Tel: +44 7500 788024
			</p> 
		</div>
		<div class="city">
			<img src="images/contact-us2.png" alt="Contact Us" class="img-responsive" />
			<p>	Buenos Aires:<br />
				Email: songecko@tresepic.com<br />
				Tel: 123-456-789<br />
				Dir:
			</p> 
		</div>
		<div class="city">
			<img src="images/contact-us3.png" alt="Contact Us" class="img-responsive" />
			<p>	San Juan:<br />
				Email: weare@tresepic.com<br />
				Tel: 787-545-4545<br />
				Dir: Ave. Ponce de Leon, Cobian’s Plaza Suite 103. San Juan Puerto Rico 00901
			</p> 
		</div>
	</div>
</section>
{% endblock %}