{% extends "layout.html.twig" %}

{% block content %}
<section id="contact">
	<div class="container">	
		<img src="images/contact-us.png" alt="Contact Us" class="img-responsive" />
	</div>
</section>
{% endblock %}