{% extends "layout.html.twig" %}

{% block content %}
<section id="home">
	<img src="{{ asset('images/mobile/home.png') }}" class="centered img-responsive" alt="TrèsEPIC is a digital production & creative studio. We are artisans of innovation & hackers of life. We make compelling work based on a data driven strategy that actually renders epic results. Be EPIC!">
</section>
{% endblock %}