{% extends "layout.html.twig" %}

{% block content %}
<section id="home">
	<div class="container">	
		<div class="row">
			<div class="col-md-4">
				<div class="info">
					Très<span>EPIC</span> is a digital creative studio. We are artisans of innovation & hackers of life. We believe that small and nimble is far more epic than size and numbers. We are the underdogs. We believe in making compelling creative work based on well thought strategy that actually renders epic results.
				</div>
				<img src="images/full_logo.png" class="full-logo"/>
			</div>
			<div class="col-md-8">
				<img src="images/map.png" class="map img-responsive" />
			</div>
		<div>				
	</div>
</section>
{% endblock %}