{% extends "layout.html.twig" %}

{% block content %}
<section id="services">
	<div class="container">		
		<div id="flipbook">
			<div><img src="images/Episervices.png" width="510" /></div>
			<div><img src="images/Epicstrategy.png" width="510px" /></div>
			<div><img src="images/Epicreative.png" width="510px" /></div>
			<div><img src="images/Epicode.png" width="510px" /></div>
			<div><img src="images/services.png" width="510px" /></div>
		</div>
		<div class="previous"><a href="#" ><-Anterior</a></div>
		<div class="next"><a href="#" >Siguiente-></a></div>
	</div>
</section>
{% endblock %}