{% extends "layout.html.twig" %}

{% block content %}
<section id="services">
	<div class="container">	
		<div id="carousel-service" class="carousel slide" data-interval="10000">
		  <!-- Indicators 
		  <ol class="carousel-indicators">
			<li data-target="#carousel-service" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-service" data-slide-to="1"></li>
			<li data-target="#carousel-service" data-slide-to="2"></li>
			<li data-target="#carousel-service" data-slide-to="3"></li>
			<li data-target="#carousel-service" data-slide-to="4"></li>
		  </ol>-->

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
			<div class="item active">
			  <img src="images/Episervices.png" alt="Epic Services">
			</div>
			<div class="item">
			  <img src="images/Epicstrategy.png" alt="Epic Strategy">
			</div>
			<div class="item">
			  <img src="images/Epicreative.png" alt="Epic Creative">
			</div>
			<div class="item">
			  <img src="images/Epicode.png" alt="Epic Code">
			</div>
			<div class="item">
			  <img src="images/services.png" alt="Epic Services">
			</div>
		  </div>

		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-service" data-slide="prev">
			<span class="icon-prev"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-service" data-slide="next">
			<span class="icon-next"></span>
		  </a>
		</div>		
	</div>
</section>
{% endblock %}