{% extends "layout.html.twig" %}

{% block content %}
<section id="services">
	<div class="container">	

		<div id="flipbook">
			<div><span class="text">Page 1</span></div>
			<div><span class="text">Page 2</span></div>
			<div><span class="text">Page 3</span></div>
		</div>
	</div>
</section>
{% endblock %}