{% extends "layout.html.twig" %}

{% block content %}
<section id="services">
	<div class="container">	
		<img src="images/services.png" alt="Services" class="img-responsive" />
	</div>
</section>
{% endblock %}