{% extends "layout.html.twig" %}

{% block content %}
<section id="team">
	<div class="container">	
		<div class="members">
			<div class="memberColumn mc1 clearfix">
				<div class="teamBlock logo"><img src="images/team-logo.png" class="img-responsive" /></div>
				<div class="teamBlock"><p>#EPIC social</p></div>
				<div class="teamBlock"><img src="images/alfredo.jpg" alt="Alfredo Llop" /></div>
				<div class="teamBlock"><img src="images/valerie.jpg" alt="Valerie Gomez" /></div>
				<div class="teamBlock"><p>#EPIC results</p></div>
				<div class="teamBlock"><img src="images/we_love_cm.jpg" /></div>
				<div class="teamBlock"><img src="images/nelson.jpg" alt="Nelson Romero" /></div>
			</div>
			<div class="memberColumn mc2 clearfix">
				<div class="teamBlock"><p>#EPIC ideas</p></div>
				<div class="teamBlock"><img src="images/te_london.jpg" /></div>
				<div class="teamBlock"><img src="images/te_tw.jpg" /></div>
				<div class="teamBlock doubleHeight"><p class="rotated">developing FUTURE</p></div>
				<div class="teamBlock"><p>#EPIC strategies</p></div>
				<div class="teamBlock"><img src="images/gabriel.jpg" alt="Gabriel Mulero" /></div>
				<div class="teamBlock"><img src="images/alan.jpg" alt="Alan Taveras" /></div>
				<div class="teamBlock"><p>#SEO geeks</p></div>
				<div class="teamBlock"><img src="images/americo.jpg" alt="Americo Delgado" /></div>
				<div class="teamBlock darkBack"><p>MANTRA BE EPIC</p></div>
				<div class="teamBlock"><p>#EPIC apps</p></div>
				<div class="teamBlock"><img src="images/te_san_juan.jpg" /></div>
				<div class="teamBlock doubleWidth"><p>trèsEPIC MANIFESTO</p></div>
			</div>
			<div class="memberColumn mc3 clearfix">
				<div class="teamBlock"><img src="images/ivet.jpg" /></div>
				<div class="teamBlock"><p>#EPIC apps</p></div>
				<div class="teamBlock"><p class="fontSize18">FUN=WORK WORK=FUN</p></div>
				<div class="teamBlock"><img src="images/luis.jpg" alt="Luis" /></div>
				<div class="teamBlock"><img src="images/diego.jpg" alt="Diego D'amico" /></div>
				<div class="teamBlock"><img src="images/usb.jpg" /></div>
				<div class="teamBlock"><img src="images/te_bsas.jpg" /></div>
				<div class="teamBlock"><img src="images/gerardo.jpg" alt="Gerardo Mora" /></div>
				<div class="teamBlock"><img src="images/nestor.jpg" alt="Nestor Taveras" /></div>
				<div class="teamBlock"><img src="images/very_epic.jpg" /></div>
			</div>
		</div>
	</div>
</section>
{% endblock %}