{% extends "layout.html.twig" %}

{% block content %}
<section id="team">
	<div class="container">
		<img src="images/Manifesto.png" class="img-responsive" />
	</div>
</section>
{% endblock %}