{% extends "layout.html.twig" %}

{% block content %}
<section id="team">
	<img src="{{ asset('images/mobile/team.png') }}" class="centered fullHeight img-responsive" alt="Team">
</section>
{% endblock %}