{% extends "layout.html.twig" %}

{% block content %}
<section id="team">
	<div class="container">
		<img src="{{ asset('images/team.png') }}" class="img-responsive" />
	</div>
</section>
{% endblock %}