{% extends "layout.html.twig" %}

{% block content %}
<section id="team">
	<div class="container">	
		<div id="flipbook">
			<div><img src="images/Whyepic.png" width="510px" /></div>
			<div><img src="images/Epicessentials.png" width="510px" /></div>
			<div><img src="images/Manifesto.jpg" width="510px" /></div>

		</div>
	</div>
</section>
{% endblock %}